* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    background: linear-gradient(to right,#0f2027,#203a43,#2c5364);
    color: white;
}

/* HEADER */
header {
    text-align: center;
    padding: 20px;
    background: #0a192f;
}

marquee {
    background: #001f3f;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #00d4ff;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 15px;
    background: #001f3f;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 8px; /* space between icon and text */
}

nav a i {
    font-size: 16px;
}

/* SECTION */
section {
    max-width: 1100px;
    margin: 40px auto;
    padding: 30px;
    border-radius: 10px;
}

/* CENTER ALL SECTION TITLES */
section h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* COLORS */
.light-section {
    background: rgba(255,255,255,0.1);
}

.dark-section {
    background: rgba(0,0,0,0.6);
}

/* ABOUT */
.about-container {
    display: grid;
    grid-template-columns: 1.2fr 1fr; /* more space for text */
    gap: 40px;
    align-items: center;
}

.about-text p {
    font-size: clamp(24px, 3vw, 42px); /* BIG responsive text */
    line-height: 1.7;
    font-weight: 600;
    max-width: 600px;
}

/* FEATURES  */
.features-grid {
    display: flex;
    justify-content: center;
    gap: 400px;
}

/* TECH STACK */
.tech-grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
}

.card {
    background: rgba(0,0,0,0.7);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

/* STEPS */
.steps-grid {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    text-align: center;
}

/* WORK */
.work-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.work-grid img {
    width: 100%;
    border-radius: 10px;
    transition: 0.3s;
}

.work-grid img:hover {
    transform: scale(1.05);
}

/* FORM */
.form-container {
    display: flex;
    justify-content: center;
}

form {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* IMAGE */
img {
    width: 100%;
    border-radius: 10px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #0a192f;
}
